/*
공통 스타일시트
*/
* {
  font-family: "ELAND_Choice_M";
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: block;
}

#page_title {
  background-color: #2ac1bc;
  display: block;
  text-align: center;
  align-items: center;
  font-family: "ELAND_Choice_L";
  font-size: 2.3em;
  font-weight: bold;
  border: none;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#menu_bar {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d3d3d3;
}

.menu_button {
  display: block;
  display: inline-block;
  float: center;
  width: 3.5em;
  height: 1.5em;
  margin: 0 auto;
  font-size: 1.2em;
  margin-left: 3px;
  margin-right: 3px;
}

#menu_button_now {
  color: #2db400;
  border-bottom: 5px solid #2db400;
}

.empty_space {
  background-color: #eff2f9;
  height: 100px; /* 임시로 정한 크기 ㅋㅋ */
}

/*
Fonts
*/
@font-face {
  font-family: "ELAND_Choice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ELAND_Choice_L";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ELAND_Nice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
