/*
공통 스타일시트
설정 미디어 기준: Galaxy S5
*/
* {
  font-family: "ELAND_Choice_M";
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: block;
}

footer {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #2ac1bc;
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid #d3d3d3;
}

video {
  max-width: 80%;
  display: block;
  margin: 20px auto;
}

#page_title {
  background-color: #2ac1bc;
  display: block;
  text-align: center;
  align-items: center;
  font-family: "BMHANNAPro";
  font-size: 3em;
  border: none;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#menu_bar {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d3d3d3;
}

.menu_button {
  display: block;
  display: inline-block;
  width: 3.5em;
  height: 1.5em;
  margin: 0 auto;
  font-size: 1.2em;
  margin-left: 3px;
  margin-right: 3px;
}

#menu_button_now {
  color: #2db400;
  border-bottom: 5px solid #2db400;
}

.empty_space {
  background-color: #eff2f9;
  height: 10px; /* 임시로 정한 크기 ㅋㅋ */
}

.main-field {
  padding-top: 1em;
}

#intro-namebox {
  display: block;
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
}

#intro-namebox-name {
  display: block;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 5px;
  font-size: 1.3em;
  font-weight: bold;
  color: blue;
}

#intro-namebox-job {
  display: block;
  padding-left: 1.45em;
  padding-right: 1em;
  padding-bottom: 5px;
  font-size: 0.9em;
}

#intro-infobox {
  font-size: 0.9em;
  margin-top: 1em;
  height: 11em;
  border-bottom: 1px solid #d3d3d3;
}

#intro-infobox-info {
  margin-left: 1em;
  float: left;
  width: 14em;
  box-sizing: border-box;
}

#intro-infobox-idphoto {
  margin-right: 1em;
  float: right;
  width: 7em;
  height: 9em;
  box-sizing: border-box;
}

.intro-infobox-info-cat {
  color: gray;
  padding-bottom: 0.3em;
}

.intro-infobox-info-content {
  color: black;
  padding-bottom: 0.3em;
}

.main-body {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3em;
  line-height: 150%;
}

.info-section {
  margin-bottom: 3.5em;
}

#my-history {
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 150%;
}

#gallery-explanation {
  position: absolute;
  left: 1em;
  top: -2em;
  border-bottom: 3px solid black;
}

#pictures {
  margin: 1em auto;
}

.picture {
  width: 80%;
  border: 2px solid black;
}

/*
- Media Query
*/

/* PC or 모바일가로 */
@media (min-width: 481px) {
  #page_title {
    background-color: #2db400;
  }
  footer {
    background-color: #2db400;
  }
  .youtube {
    width: 480px;
    height: 360px;
  }
  .picture {
    width: 450px;
  }
}

/* 모바일 */
@media (min-width: 320px) and (max-width: 480px) {
  #page_title {
    background-color: #2ac1bc;
  }
  .youtube {
    width: 90%;
    height: 12em;
  }
}

/*
- Fonts
*/
@font-face {
  font-family: "ELAND_Choice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ELAND_Choice_L";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ELAND_Nice_M";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BMHANNAPro";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
